doctype html
html(lang="en")
  link( rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel="stylesheet" href="/style.css")
  link(href="https://fonts.googleapis.com/css?family=Muli&effect=3d" rel="stylesheet")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  head
    title Book Trader
script.
  function addBook(){
    window.location.replace('https://booktrading.glitch.me/addbook');
  }
  function trades(){
    window.location.replace('https://booktrading.glitch.me/trades');
  }
  function profile(){
    window.location.replace('https://booktrading.glitch.me/profile');
  }
  function home(){
    window.location.replace('https://booktrading.glitch.me/');
  }
body
    div(class="well")
        h1(onclick="home()") #[i Book Trading Club]
        center
          button(class="btn btn-info" style={'margin-left': '2%', 'margin-right': '2%'} onclick="profile()") Profile
          button(class="btn btn-success" style={'margin-right': '2%'} onclick='trades()') Trades
          button(class="btn btn-danger" onclick='addBook()') Add Book
    center
      div(class='well' style={'width': '40%'})
        h2(style={'text-decoration': 'none'}) Logged in as: #{info.login}
        //img(src='#{info.avatar_url}')
        h3 #[b Bio:] #{info.bio}
        h3 #[b Email:] #{info.email}
            
    